.box65 > div > h3 {
	color : red;
}

.box65 > p{
	color : green;
	background-color: yellow;
}
/*
.box65 > h3 > tel > home {
	color: blue;
	font-style: italic;

}
*/

tel > home{
	color: blue;
	font-style: italic;
}