li {
	display: inline-block;
	width: 120px;
	padding: 15px;
	border: 1px solid gray;
	margin-bottom: 10px;
}
span {
	display: block;
	text-align: left;
}

li:nth-child(2) + li {
/*
	형제들중 두째인 li 태그를 찾아서 
	그 태그의 바로 뒤에 있는 li 태그를 선택
*/
	background-color: orange;
}

#a1 {
	background-color: #2196F3;
}
a:nth-child(2) {
	display: inline-block;
	width: 300px;
	height: 50px;
	background-color: green;
}

a {
	background-color: peru;
}